.form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem;
}
.form-section {
    width: 45%;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px rgb(180, 180, 180);
}